body, html {
    background: #224C51;
    color: #fff;
    margin: 0;
}

.canvas-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
